<div class="user-info">
    <div class="name">
        <h3 class="font_15">{{userInfo.name}}</h3>
    </div>
    <div class="email">
        <h3 class="font_15">{{userInfo.email}}</h3>
    </div>
    <div class="phone_no">
        <h3 class="font_15">{{userInfo.phone_no}}</h3>
    </div>
    <div class="age">
        <h3 class="font_15">{{userInfo.age}}</h3>
    </div>
    <div class="gender">
        <h3 class="font_15">{{userInfo.gender}}</h3>
    </div>
    <div class="profile_image">
        <img [src]='imgUrl' alt="">
    </div>
</div>

<a routerLink="/angular-forms">Go Back</a>