<div class="create_user_container">
    <div class="Loading_div" *ngIf="isLoading; else Form">
        <h2 class="font_26">{{ text }}</h2>
    </div>

    <ng-template #Form>
        <form class="user_form" (ngSubmit)="onSubmit(userForm)" #userForm="ngForm" novalidate>
            <h2 class="form_title">{{head}}</h2>

            <div class="form_group">
                <label>Name:</label>
                <input type="text" [(ngModel)]="user.name" name="name" #name="ngModel" required minlength="3">
                <div class="Error_div" *ngIf="name.invalid && (name.touched || name.dirty)">
                    <p *ngIf="name.errors?.minlength">Name must be at least 3 characters.</p>
                </div>
            </div>

            <div class="form_group">
                <label>Email:</label>
                <input type="email" [(ngModel)]="user.email" name="email" #email="ngModel" email required>
                <div class="Error_div" *ngIf="email.invalid && (email.touched || email.dirty)">
                    <p *ngIf="email.errors?.email">Enter valid Email!</p>
                </div>
            </div>

            <div class="form_group">
                <label>Password:</label>
                <div class="password_group relative">
                    <input [type]="showPassword ? 'text' : 'password'" [(ngModel)]="user.password" name="password"
                        #password="ngModel" minlength="6" required>
                    <button class="password_eye" type="button" (click)="togglePasswordVisibility()">
                        <i [ngClass]="showPassword ? 'ri-eye-line' : 'ri-eye-close-line'"></i>
                    </button>
                </div>
                <div class="Error_div" *ngIf="password.invalid && (password.touched || password.dirty)">
                    <p *ngIf="password.errors?.minlength">Name must be at least 6 characters.</p>
                </div>
            </div>

            <div class="form_group">
                <label>Age:</label>
                <input type="number" [(ngModel)]="user.age" name="age" #age="ngModel" required>
                <!-- <div class="Error_div" *ngIf="age.invalid && (age.touched || age.dirty)">
                    <p *ngIf="age.errors?.minlength">Name must be at least 6 characters.</p>
                </div> -->
            </div>

            <div class="form_group">
                <label>Gender:</label>
                <select [(ngModel)]="user.gender" name="gender" required>
                    <option value="" disabled>Select</option>
                    <option value="male">Male</option>
                    <option value="female">Female</option>
                </select>
            </div>

            <div class="form_group">
                <label>Phone No:</label>
                <input type="tel" (keypress)="restrictNonNumeric($event)" [(ngModel)]="user.phone_no" name="phone_no"
                    #phone_no="ngModel" pattern="^[0-9]{10}$" maxlength="10" required>
                <div class="Error_div" *ngIf="phone_no.invalid && (phone_no.touched || phone_no.dirty)">
                    <p *ngIf="phone_no.errors?.required">Phone number is required.</p>
                    <p *ngIf="phone_no.errors?.pattern">Phone number must be exactly 10 digits.</p>
                </div>
            </div>

            <div class="form_group profile_image">
                <label class="font_16" for="profile_image">Profile Image:</label>
                <input type="file" id="profile_image" name="profile_image" [(ngModel)]="profile_image"
                    (change)="onFileSelected($event)" [required]="!this.user.id">
                <div class="Error_div" *ngIf="errMsgImg">
                    <p>{{errMsgImg}}</p>
                </div>
                <div class="preview_image">
                    <img [src]="user.profile_image" alt="Preview" *ngIf="user.profile_image">
                </div>
            </div>

            <button type="submit" [disabled]="userForm.invalid">{{btn_text}}</button>
        </form>
        <div class="Error_div" *ngIf="errMsg">
            <h2>{{errMsg}}</h2>
        </div>
    </ng-template>

</div>