<div class="container ovhidden">
    <h1 class="font_26 glitch" data-text=":(">:(</h1><br>
    <h2 class="font_15">A <span>404</span> error occured, The url is broken.</h2><br><br>
    <!-- <h2 class="font_15">A <span>404</span> error occured, Page not found, The url is broken.</h2><br><br> -->
    <!-- <h3 class="font_14"><a routerLink="">Return to home</a>&nbsp;|&nbsp;<a href="javascript:history.back()">Go Back</a></h3> -->
    <h3 class="font_14"><a routerLink="">Return to home <i class="ri-navigation-line"></i></a></h3>
</div>